# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\ticket-Order-2023\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/misc.xml
/modules.xml
/ticket-Order-2023.iml
/vcs.xml
